@{
    ViewBag.Title = "Home Page";
}

<div align="center"><h1>Чат</h1></div>
    <div id='messages' class="well"></div>
<div class="well" style="margin-top:5px; width:550px;">
    <form>
        <div class="form-group">
            <label for="user" class="col-md-3">Никнейм</label>
            <input type="text" class="col-md-8 form-control" id="user"  />
        </div>
        <br />
        <div class="form-group">
            <label for="message" class="col-md-3"style="margin-top:20px;">Сообщение</label>
            <textarea class="col-md-6 form-control" id="message" rows="4" style="margin-top:20px;"></textarea>
            <input type="button" class=" btn btn-info" value="Отправить" id="send" style="margin-top:90px; margin-left:5px;" />
        </div>
        

     
    </form>
</div>
<script type="text/javascript">
        var socket,
            $txt = document.getElementById('message'),
            $user = document.getElementById('user'),
            $messages = document.getElementById('messages');

        if (typeof (WebSocket) !== 'undefined') {
            socket = new WebSocket("ws://localhost:50249/Models/ChatHandler.ashx");
        } else {
            socket = new MozWebSocket("ws://localhost:50249/Models/ChatHandler.ashx");
        }

        socket.onmessage = function (msg) {
            var $el = document.createElement('p');
            $el.innerHTML = msg.data;
            $messages.appendChild($el);
        };

        socket.onclose = function (event) {
            alert('Мы потеряли её. Пожалуйста, обновите страницу');
        };

        document.getElementById('send').onclick = function () {
            socket.send($user.value + ' : ' + $txt.value);
            $txt.value = '';
        };
</script>
